$primaryColor: #9C69FF;
$secondaryColor: #2F0F48;

$scrollbarBackground: #DEDEDE;
$scrollbarThumb: #2F0F48;

$inputBackground: #F9F9F9;
$inputBorder: rgba(80, 91, 147, 0.5);
$inputText: 24px 'Gilroy Light';

$hint: rgba(0, 0, 0, .5);
$hintFont: 12px 'Gilroy Regular';

$defaultContentFont: 14px 'Gilroy Regular';
$defaultContentFontMedium: 14px 'Gilroy Medium';
$defaultContentFontBold: 14px 'Gilroy Bold';

$defaultContentAdaptiveFont: 12px 'Gilroy Regular';
$defaultContentAdaptiveFontBold: 12px 'Gilroy Bold';

$modalWindowTitleText: 16px 'Gilroy Bold';
$modalWindowTitleAdaptiveText: 12px 'Gilroy Bold';

$docsTitleText: 24px 'Gilroy Bold';
$docsSubTitleText: 18px 'Gilroy Medium';
$docsContentText: 16px 'Gilroy Regular';

$detailsHintText: 24px 'Gilroy Bold';
$detailsInfoText: 20px 'Gilroy Regular';

$coinItemValueText: 24px 'Gilroy Light';
$coinItemHintText: 18px 'Gilroy Regular';